*{
	box-sizing: border-box;
	margin: 0;	
	padding: 0;
}
.row:before{
	display: block;
	content: "";
	clear: both;
}
.col{
	background: green;
	height: 50px;
	border: 1px solid;
	float: left;
}
.col-1{
	width: 100%;
}
.col-20{
	width: 20%;
	height: 100px
}
.col-80{
	width: 80%;
}
.col-80-26{
	width: 26.666%;
	float: left;
}
.col-53{
	width: 53.333%;
}
.col-80{
	width: 80%;
}